package {{config.base_package_name}}.di

// import org.koin.androidx.viewmodel.dsl.viewModel
import org.koin.dsl.module

fun createViewModelsModule() = module {
    // viewModel { // View Model Here // }
}
