package {{config.base_package_name}}

import android.app.Application
import {{config.base_package_name}}.di.createAppModule
import {{config.base_package_name}}.di.createViewModelsModule
import org.koin.android.ext.koin.androidContext
import org.koin.core.context.startKoin

class CustomApplication : Application() {
    override fun onCreate() {
        super.onCreate()

        initMetrica()

        startKoin {
            androidContext(this@CustomApplication)
            modules(
                createAppModule(this@CustomApplication),
                createViewModelsModule(),
            )
        }
    }

    private fun initMetrica() {
        // val config = YandexMetricaConfig
        //     .newConfigBuilder("// --- TODO --- //")
        //     .build()
        // YandexMetrica.activate(applicationContext, config)
        // YandexMetrica.enableActivityAutoTracking(this)
    }
}
